<html ng-app="jeewsTest">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <title>index</title>
    <!-- bower:css -->
    <!-- endinject -->
    <!-- inject:css -->
    <!-- endinject -->
</head>
<body>
    <div class="container">
        <div class="header">
            <ul class="nav nav-pills pull-right">
                <li><a ui-sref="home">主页</a></li>
                <li><a ui-sref="users">用户列表</a></li>
                <li><a ui-sref="usersCreate">添加用户</a></li>
            </ul>
            <h3 class="text-muted">JEE Web Site</h3>
        </div>
    </div>

    <section class="container" ui-view></section>
<!-- bower:js-->
<!-- endinject -->
<!-- inject:js-->
<!-- endinject -->
</body>
</html>