<div class="table-responsive">
    <div class="">
        <div class="col-lg-12 page-header">
            <button class="btn btn-danger pull-right" ng-click="deleteSelected()">删除选中</button>
            <button class="btn btn-default pull-right" ng-click="tableParams.sorting({})">清除排序</button>
        </div> <!-- /.col-lg-12 -->
    </div>
    <table ng-table="tableParams"  show-filter="true" class="table">
        <tbody>
        <tr ng-repeat="user in $data">
            <td width="30" style="text-align: left" header="'ng-table/headers/checkbox.html'">
                <input type="checkbox" ng-model="checkboxes.items[user.id]" />
            </td>
            <td data-title="'id'"  sortable="'id'">
                {{user.id}}
            </td>
            <td data-title="'用户名'"  sortable="'username'" filter="{ 'username': 'text' }">
                <span ng-if="!user.$edit"><a href="#/users/update/{{user.id}}">{{user.username}}</a></span>
                <div ng-if="user.$edit"><input class="form-control" type="text" ng-model="user.username" /></div>
            </td>
            <td data-title="'用户角色'" filter="{ 'rolesList': 'text' }">
                <span ng-if="!user.$edit">{{user.rolesList}}</span>
                <div ng-if="user.$edit">
                    <select ng-model="user.rolesList"  multiple="multiple" class="form-control">
                         <option value="admin">admin</option>
                         <option value="user">user</option>
                    </select>
                </div>
            </td>
            <td data-title="'是否锁定'">
                <span ng-if="!user.$edit">{{user.locked | checkmark }}</span>
                <div ng-if="user.$edit"><input class="form-control" type="checkbox" ng-model="user.locked" /></div>
            </td>
            <td data-title="'操作'">
                <a ng-if="!user.$edit" href="" class="btn btn-info" ng-click="user.$edit = true"><i class="icon-edit icon-white">编辑</i></a>
                <a ng-if="user.$edit" href="" class="btn btn-info" ng-click="updateUser(user)"><i class="icon-edit icon-white">保存</i></a>
                <button class="btn btn-danger" ng-click="deleteUser(user)"><i class="icon-trash icon-white">X</i></button>
            </td>
        </tr>
        </tbody>
    </table>
    <script type="text/ng-template" id="ng-table/headers/checkbox.html">
        <input type="checkbox" ng-model="checkboxes.checked" id="select_all" name="filter-checkbox" value="" />
    </script>
</div>