<div class="">
    <form class="form-inline" role="form">
        <div class="form-group">
            <label class="sr-only" for="search">过滤</label>
            <input ng-model="criteria" id="search" type="text" class="form-control" placeholder="过滤 ..." >
        </div>
    </form>
</div>


<h2 class="page-header">{{filteredUsers.length}} 个用户</h2>

<div class="table-responsive">
    <table class="table table-striped">
        <thead>
        <tr>
            <th class="pointer" ng-click="orderListBy('id')" ng-class="{order: attribute == 'id'}">id</th>
            <th class="pointer" ng-click="orderListBy('username')" ng-class="{order: attribute == 'username'}">用户名</th>
            <th class="pointer" ng-click="orderListBy('rolesList')" ng-class="{order: attribute == 'rolesList'}">角色列表</th>
            <th class="pointer" ng-click="orderListBy('locked')" ng-class="{order: attribute == 'locked'}">是否锁定</th>
            <th>操作</th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="user in filteredUsers = (users | filter:criteria) | orderBy:attribute:reverse">
            <td>{{user.id}}</td>
            <td><a href="#/users/update/{{user.id}}">{{user.username}}</a></td>
            <td>{{user.rolesList | uppercase}}</td>
            <td>{{user.locked | checkmark }}</td>
            <td>
                <a class="btn btn-info" href="#/users/update/{{user.id}}"><i class="icon-edit icon-white">编辑</i></a>
                <button class="btn btn-danger" ng-click="deleteUser(user)"><i class="icon-trash icon-white">X</i></button>
            </td>
        </tr>
        </tbody>
    </table>
</div>