<html>
<head>
  <!-- wiredep -->
  <!-- bower:css -->
  <!-- endbower -->
  <!-- gulp-inject -->
  <!-- inject:css -->
  <!-- endinject -->
  <!-- useref -->
  <!-- build:css css/main.css -->
  <link rel="stylesheet" href="css/app.css">
  <link rel="stylesheet" href="css/bootstrap.css">
  <!-- endbuild -->
</head>
<body>
  <!-- bower:js -->
  <!-- endbower -->
  <!-- inject:js -->
  <!-- endinject -->
  <!-- build:js js/main.js -->
  <script src="/static/js/app.js"></script>
  <script src="js/bootstrap.js"></script>
  <script src="js/jquery.js"></script>
  <!-- endbuild -->
</body>
</html>
