<div class="row">
  <div class="col-md-4 col-md-offset-4">
    <tabset justified="true" class="login">
      <tab heading="登录">
        <div class="panel panel-default">
          <div class="panel-body">
            <form role="form" name="loginForm" xt-form ng-submit="loginForm.$valid && login()">
              <fieldset>
                <div class="form-group">
                  <div class="input-group">
                    <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                    <input type="text" class="form-control" id="login_name" name="login_name" ng-model="loginUser.username" placeholder="请输入用户名" required ng-pattern="/^[A-Za-z]{1}[0-9A-Za-z_]{2,29}$/">
                  </div>
                  <xt-validation-inline for="login_name"></xt-validation-inline>
                </div>
                <div class="form-group">
                  <div class="input-group">
                    <span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
                    <input type="password" class="form-control" id="login_password" name="login_password" ng-model="loginUser.password" placeholder="请输入密码" required  ng-pattern="/^\w{6,18}$/" msg-pattern="输入字母、数字、下划线组成，6-18个字符">
                  </div>
                  <xt-validation-inline for="login_password"></xt-validation-inline>
                </div>
                <div class="checkbox">
                  <label> <input name="remember" value="Remember Me" type="checkbox">七天内记住我
                  </label>
                </div>
                <button type="submit" class="btn btn-lg btn-primary btn-block">登录</button>
              </fieldset>
            </form>
          </div>
        </div>
      </tab>
      <tab heading="注册">
        <div class="panel panel-default">
          <div class="panel-body">
            <form role="form" name="signupForm" xt-form ng-submit="signupForm.$valid && signup()">
              <fieldset>
                <div class="form-group">
                  <div class="input-group">
                    <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                    <input type="text" class="form-control" id="name" name="name" ng-model="signupUser.username" placeholder="请输入用户名" required ng-pattern="/^[A-Za-z]{1}[0-9A-Za-z_]{2,29}$/">
                  </div>
                  <xt-validation-inline for="name"></xt-validation-inline>
                </div>
                <div class="form-group">
                  <div class="input-group">
                    <span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
                    <input type="password" class="form-control" id="password" name="password" ng-model="signupUser.password" placeholder="请输入密码" required  ng-pattern="/^\w{6,18}$/" msg-pattern="输入字母、数字、下划线组成，6-18个字符">
                  </div>
                  <xt-validation-inline for="password"></xt-validation-inline>
                </div>
                <div class="form-group">
                  <div class="input-group">
                    <span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
                    <input type="password" class="form-control" id="password2" name="password2" ng-model="password2" placeholder="请重新输入密码" required  ng-pattern="/^\w{6,18}$/" msg-pattern="输入字母、数字、下划线组成，6-18个字符" match-validator="signupUser.password">
                  </div>
                  <xt-validation-inline for="password2"></xt-validation-inline>
                </div>
                <div class="form-group">
                  <div class="input-group">
                    <span class="input-group-addon"><i class="glyphicon glyphicon-envelope"></i></span>
                    <input type="email" class="form-control" id="email" name="email" ng-model="signupUser.email" placeholder="请输入邮箱" required>
                  </div>
                  <xt-validation-inline for="email"></xt-validation-inline>
                </div>
                <button type="submit" class="btn btn-lg btn-primary btn-block">注册</button>
              </fieldset>
            </form>
          </div>
        </div>
      </tab>
    </tabset>
  </div>
</div>