<h1 ng-if="user.id == null">添加用户</h1>
<h1 ng-if="user.id != null">用户详情</h1>
<form class="ws-form form-horizontal" name="wsForm" novalidate xt-form ng-submit="wsForm.$valid && (user.id == null ? createUser():updateUser())">
  <input type="hidden" id="id" ng-if="user.id != null" ng-model="user.id" value="{{user.id}}" />
  <div class="form-group">
    <label class="col-sm-2 control-label" for="name">用户名 *</label>
    <div class="col-sm-6">
      <input type="text" class="form-control" id="name" name="name" ng-model="user.username" placeholder="用户名由字母、数字、下划线组成，以字母开头，3-30个字符" required ng-pattern="/^[A-Za-z]{1}[0-9A-Za-z_]{2,29}$/">
    </div>
    <xt-validation-inline for="name"></xt-validation-inline>
  </div>
  <div class="form-group">
    <label class="col-sm-2 control-label" for="password">密码 *</label>
    <div class="col-sm-6">
      <input type="password" class="form-control" id="password" name="password" ng-model="user.password" placeholder="密码由字母、数字、下划线组成，6-18个字符" required  ng-pattern="/^\w{5,17}$/" msg-pattern="输入字母、数字、下划线组成，6-18个字符">
    </div>
    <xt-validation-inline for="password"></xt-validation-inline>
  </div>
  <div class="form-group">
    <label class="col-sm-2 control-label" for="email">邮箱 *</label>
    <div class="col-sm-6">
      <input type="email" class="form-control" id="email" name="email" ng-model="user.email" placeholder="邮箱:example@xx.com" required>
    </div>
    <xt-validation-inline for="email"></xt-validation-inline>
  </div>
  <div class="form-group">
    <label class="col-sm-2 control-label" for="mobile">手机 *</label>
    <div class="col-sm-6">
      <input type="tel" class="form-control" id="mobile" name="mobile" ng-model="user.mobile" placeholder="手机号长度11位" required ng-pattern="/^[0-9]{11}$/" msg-pattern="手机号长度应该为11">
    </div>
    <xt-validation-inline for="mobile"></xt-validation-inline>
  </div>
  <div class="form-group">
    <label class="col-sm-2 control-label" for="role">角色 *</label>
    <div class="col-sm-6">
      <ui-select class="form-control" multiple="true" id="role" name="role" ng-model="user.roles" theme="bootstrap" ng-disabled="disabled" ud-required>
        <ui-select-match placeholder="请选择角色...">{{$item.name}}</ui-select-match>
        <ui-select-choices repeat="role in roles | propsFilter: {name: $select.search, cnname: $select.search} track by role.id">
          <div ng-bind-html="role.name | highlight: $select.search"></div>
          <small> {{role.name}}: <span ng-bind-html="''+role.cnname | highlight: $select.search"></span>
          </small>
        </ui-select-choices>
      </ui-select>
    </div>
    <xt-validation-inline for="role"></xt-validation-inline>
  </div>
  <div class="form-group">
    <label class="col-sm-2 control-label" for="org">组织 *</label>
    <div class="col-sm-6">
      <ui-select class="form-control" multiple="true" id="org" name="org" ng-model="user.organizations" theme="bootstrap" ng-disabled="disabled" ud-required>
        <ui-select-match placeholder="请选择组织...">{{$item.name}}</ui-select-match>
        <ui-select-choices repeat="org in organizations | propsFilter: {name: $select.search} track by org.id">
          <div ng-bind-html="org.name | highlight: $select.search"></div>
          <small> {{org.name}} </small> 
        </ui-select-choices>
      </ui-select>
    </div>
    <xt-validation-inline for="org"></xt-validation-inline>
  </div>
  <div class="form-group">
    <label class="col-sm-2 control-label" for="locked">锁定&nbsp;&nbsp;</label>
    <div class="col-sm-10">
      <input type="checkbox" id="locked" ng-model="user.locked" />
    </div>
  </div>
  <div class="form-group">
    <div class="col-sm-offset-2 col-sm-10" ng-if="user.id != null">
      <button class="btn btn-primary" ng-click="cancel()">取消</button>
      <button type="submit" class="btn btn-primary" ng-disabled="wsForm.$invalid">更新</button>
      <button class="btn btn-default" ng-click="deleteUser()">删除</button>
    </div>
    <div class="col-sm-offset-2 col-sm-10" ng-if="user.id == null">
      <button type="button" class="btn btn-default" ng-disabled="isUnchanged()" ng-click="reset()">重置</button>
      <button type="submit" class="btn btn-primary" ng-disabled="wsForm.$invalid || isUnchanged()">保存</button>
    </div>
  </div>
</form>