<h1>添加用户</h1>
<form class="ws-form" name="wsForm" novalidate>
  <div class="form-group">
    <label for="name">用户名 *</label>
    <input ng-model="user.username" type="text" class="form-control" id="name" placeholder="用户名：张三" required>
  </div>
  <div class="form-group">
    <label for="password">密码 *</label>
    <input ng-model="user.password" type="password" class="form-control" id="password" placeholder="密码" required>
  </div>
  <div class="form-group">
    <label for="email">邮箱 *</label>
    <input ng-model="user.email" type="text" class="form-control" id="email" placeholder="邮箱:example@xx.com" required>
  </div>
  <div class="form-group">
    <label for="role">角色</label>
    <select ng-model="user.rolesList" multiple="multiple" class="form-control" id="role">
      <option value="admin">admin</option>
      <option value="user">user</option>
    </select>
  </div>
  <div class="form-group">
    <label>锁定</label>
    <input ng-model="user.locked" type="checkbox" class="" id="locked">
  </div>
</form>
<div class="actions">
  <a class="btn btn-lg btn-success" ng-click="wsForm.$valid && createUser()" ng-class="{disabled : wsForm.$invalid}">保存</a>
</div>