.ws-form {
    transition:0.5s linear all;
}
.table-toolbar .btn-group > .btn-group {
    display: inline-block;
    margin-left: -1px !important;
}
.table-toolbar .btn-group > .btn-group > .btn {
    border-radius: 0;
}
.table-toolbar .btn-group > .btn-group:first-child > .btn {
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
}
.table-toolbar .btn-group > .btn-group:last-child > .btn {
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
}
.table-toolbar .columns-left {
    margin-right: 5px;
}
.table-toolbar .columns-right {
    margin-left: 5px;
}
.table-toolbar .columns label {
    display: block;
    padding: 3px 20px;
    clear: both;
    font-weight: normal;
    line-height: 1.428571429;
}
.table-toolbar .bars,
.table-toolbar .search,
.table-toolbar .columns {
    position: relative;
    margin-top: 10px;
    margin-bottom: 10px;
    line-height: 34px;
}

/* Specify styling for tooltip contents */
.tooltip.xtClass .tooltip-inner {
    color: #f00;
    background-color: #fff;
    box-shadow: 0 6px 12px rgba(0,0,0,.175);
}
/* chang arrow color */
.tooltip.xtClass .tooltip-arrow {
    border-top-color:#fff
}
.xt-validation-summary {
    list-style: none;
    margin: 0;
    padding: 0;
}
.xt-validation-inline {
    color: red;
    padding: 6px 12px;
}
.xt-validation-inline .xt-validation-item:before {
    position: relative;
    top: 1px;
    display: inline-block;
    font-family: 'Glyphicons Halflings';
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    content: "\e101";
    margin-right: 5px;
}
/* ==== Utility classes ===== */
input.ng-dirty.ng-invalid,
select.ng-dirty.ng-invalid,
textarea.ng-dirty.ng-invalid {
    border: 1px solid red;
}

.ui-select-multiple.ui-select-bootstrap.ng-invalid,
.ng-submitted input.ng-invalid,
.ng-submitted select.ng-invalid,
.ng-submitted textarea.ng-invalid {
    border: 1px solid red;
}

.ui-select-multiple.ui-select-bootstrap.ng-valid,
input.ng-dirty.ng-valid,
select.ng-dirty.ng-valid,
textarea.ng-dirty.ng-valid {
    border: 1px solid green;
}
/* fix toolbar search input display too long in chrome. */
.table-toolbar .search .input-group-btn {
	width:0;
}