html{
    font-family:sans-serif;
    -ms-text-size-adjust:100%;
    -webkit-text-size-adjust:100%
}
.ws-form {
    transition:0.5s linear all;
}
.ws-form.ng-invalid:after{
    content: "请输入有效内容";
    color: red;
}
th.order{
    background-color: #ddd;
}
th.pointer{
    cursor: pointer;
}